@{
  Layout = "_Layout";
}

@model Factory.Models.Machine;

<h2>Add a Machine</h2>
@using (Html.BeginForm())
{

<p>@Html.ValidationMessageFor(model => model.EngineerId, "" , new { @class = "text-danger", @style = "font-weight: 600;"}) </p>
<p>@Html.ValidationMessageFor(model => model.Name, "" , new { @class = "text-danger", @style = "font-weight: 600;"}) </p>


  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)
  
  @* @Html.LabelFor(model => model.Engineer) *@
  @* @Html.DropDownList("EngineerId") *@

  <input type="submit" value="Add a New Machine" />
}

<div>
  <span>@Html.ActionLink("Home", "Index", "Home")</span><br>
  <span>@Html.ActionLink("Show All Machines", "Index")</span>
</div>